@media(max-width:400px){
    body{
        margin:0;
    }
    article{
        width: 100%;
        margin-left: 0;
    }
    ul {
        padding-left: 0;
    }
    li{
        width: 100%;
    }
    body{
        width: 100%;
    }
    main{
        width: 100%;
        float: none;
        margin: 0;
    }
    aside{
        width: 100%;
        float: none;
        margin: 0;
    }
