*{
    box-sizing: border-box;
}


body{
    background-color: grey;
    width: 60%;
    margin: auto;
}

header{
    background-color: #ffffff;
    padding: 1em;
    margin: 0.5em;

}
ul{
    text-align: center;


}

li{
    display: inline-block;

}
main{
    background-color: #ffffff;
    width: 80%;
    float: left;
    padding: 1em;
    margin: 0.5em;
}

aside{
    background-color: #ffffff;
    width: 15%;
    float: right;
    padding: 1em;
    margin: 0.5em;
}

article{
    width: 32%;
    display: inline-block;
    margin-left: 0.5em;


}

@@media screen and {

}
