@media screen and (min-width: 400px) and (max-width: 900px){
    body{
        margin:0;
    }
    article{
        display: inline-block;
    }
    p{
        overflow: auto;
    }

    body{
        width: 100%;
        background-color: red;
    }
    main{
        width: 100%;
        float: none;
        margin: 0;
    }
    aside{
        width: 100%;
        float: none;
        margin: 0;
    }
